.basicInformationCard {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out; /* Adding a transition for the box shadow */
}

.basicInformationCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Changing the box shadow on hover */
}

.basicInformationHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.basicInformationHeader img {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background-size: contain;
}

.basicInformationHeader .change-link,
.basicInformationHeader .remove-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer; /* Adding a pointer cursor to indicate interactivity */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adding a transition for background color, text color, and transform */
}

.basicInformationHeader .change-link {
  background-color: #2962f2;
  color: white;
  border: none;
}

.basicInformationHeader .remove-link {
  background-color: transparent;
  color: #2962f2;
  border: 1px solid #2962f2;
}

.basicInformationHeader .change-link:hover,
.basicInformationHeader .remove-link:hover {
  background-color: #204bad; /* Changing the background color on hover */
  color: #fff; /* Changing the text color on hover */
  transform: scale(1.05); /* Adding a slight scale effect on hover */
}
