.contact-page-container {
  padding: 50px 15px;
}

.contact-page-container h1 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.contact-page-container p {
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.floating-input {
  position: relative;
  margin-bottom: 20px;
}

/* label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 12px;
  transition: 0.2s ease all;
  opacity: 0.5;
  background: white;
  padding: 0 4px;
  z-index: 1;
} */

.floating-input input,
select {
  width: 50%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 2;
  outline: 1px solid black;
}

.floating-input.focused label,
.floating-input input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  opacity: 1;
}

.floating-input.focused input:not(:placeholder-shown) {
  padding-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container button {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 4px;
  background-color: #2962f2;
  border: none;
  color: white;
  cursor: pointer;
}

.fax-container {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 2rem;
  margin-left: 1.5rem;
}

.fax-container .contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.fax-container .contact-item h2 {
  font-size: 14px;
  font-weight: 500;
}

.fax-container .contact-item p {
  color: #2962f2;
  font-size: 12px;
}
